* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 100vh;
    background-image: url('pexels-zaksheuskaya-709412-1561020.jpg');
}

.login-container{
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}
.login-container h2{
    margin: 5px 0px;
    color: #333;
    text-align: center;
}
.login-container label{
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"]{
    width: 95%;
    padding: 7px;
    border: 1px solid #40E0D0;
    border-radius: 4px;
    outline: none;
}

button{
    width: 95%;
    margin-top: 13px;
    padding: 8px;
    background-color: #FFBF00;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin: 5px 0;
    text-align: center;
}
.success-message {
    color: #00FF00;
    margin: 5px 0;
    text-align: center;
}

.content {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}
.content h2{
    margin: 5px 0px;
    color: #6bb2f9 ;
    text-align: center;
}
 .content p{
    margin: 10px 0;
    color: #FF7F50;
 }

 .logout-button{
    width:95%;
    background-color: #ff1a1a;
 }
 .logout-button :hover{
    background-color: #FF0000;
 }